.landpage{
    background-color: black!important;
    height: 50%;
}
.titulo{
    font-size: 8vh;
    animation-duration: 2s;
    
}


.start{
    text-decoration: none!important;
    font-size: 4vh;
    animation-duration: 2s;
    animation-delay: 1s;
}
