.carta{
   width: 100px;
   height: 160px;
   border-radius: 8px!important;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin: auto;

   
}
.numero{
    font-size: 250%;
}

.negras{
    font-size: 150%;
}
.rojas{
    font-size: 150%;
    color: red;
}

