.carta{
   width: 100px;
   height: 160px;
   border-radius: 8px!important;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin: auto;

   
}
.numero{
    font-size: 6vh;
}

.negras{
    font-size: 4vh;
}
.rojas{
    font-size: 4vh;
    color: red;
}

