.input{
    width:300px!important;
    
}
.boton{
    /* margin-left: 2%; */
    height: 2%;
    margin-top: 4%;
}
.divcartas{
    flex-wrap: wrap;
}
.form-control{
    width: 45%!important;
    
}

.alert{
    background-color: rgb(235, 85, 85);
    height:max-content;
    
    width: 20%!important;
    opacity: 80%;
    color:rgb(8, 0, 0);
}
