.tablero{
    background-color: black!important;
    width: 100%!important;
    height: 100vh!important;
}
.a1{
    width: 30%!important;
    height: 30%!important;
    background-color:black!important;
    border-style: solid;
    border-color: white!important;
    font-size: 20vh;
    font-family: monospace;

}